
html{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: #333;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: default;
}

body{
	margin: 0;
	padding: 0;
	background: #333;
}

video{
	margin: 0;
	padding: 0;
	height: 99.99%;
	width: 48.2vw;
}